.swal-text{
    font-family: Arial, Helvetica, sans-serif;
  }
.swal-title{
    font-family: Arial, Helvetica, sans-serif;
  }

html{
    box-sizing: border-box;
}
body{
    margin:0;
}
main {
    display: flex;
    align-items: center;
    height: 100vh;
    background: rgb(236, 236, 236);
    margin:0;
}
.gameboard{
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;  
    border:solid rgb(51, 51, 51) 3px;  
    box-shadow: #7e7e7e 0px 4px 8px 0px;;
}
.color{        
    width: 50%;
    height: 50%;
    display: inline-block;

}
.left{  
    float: left;
    
}
.right{
    float: right;    
}
.amarillo{
    background: rgb(179, 176, 0);    
}
.azul{
    background: rgb(0, 0, 175);
}
.rojo{
    background: rgb(184, 0, 0);
}
.verde{
    background: green;
}
.amarillo.light{
    background: rgb(255, 230, 4);
}
.azul.light{
    background: rgb(0, 0, 255);
}
.rojo.light{
    background: rgb(255, 1, 1);
}
.verde.light{
    background: rgb(3, 224, 3);
}
.btn_empezar{
    width: 200px;
    height: 50px;
    border: 3px solid #3e8e41;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    cursor: pointer;
    color: #3e8e41;
    transition: all 0.6s;
    position: absolute;
    box-shadow: rgb(62, 70, 59) 0px 4px 8px 0px;
    
}
.btn_empezar:hover{
    background-color: #3e8e41;
    color: white;
    border: 3px solid rgb(250, 250, 250);    
}
.hide {
    display: none;
  }
  